.table-container {
  overflow: auto;
}
table {
  width: 100%;
}
.sidebar {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar mat-list-item {
  color: white;
  cursor: pointer;
}
mat-card-content > div {
  padding: 20px;
}
.h-100 {
  height: 100% !important;
}
mat-tab-group mat-card {
  height: 539px;
  overflow: auto;
  margin: 5px 2px;

}
mat-tab-group mat-tab-body-wrapper {

}
.navbar {
  background: #20ccbf;
  padding: 0;
}
.navbar-nav .nav-item.active {
  background: rgb(78, 100, 139);
}

.navbar-nav .nav-link {
  text-align: center;
    color: white;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.navbar-nav .nav-link i {
    display: block;
}
.navbar-nav .search input{
  max-width: 150px;
}
.navbar-nav .notification {
  position: relative;
}
.navbar-nav .notification span {
  font-size: 10px;
  position: absolute;
  background: #fa5399;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  text-align: center;
  padding-top: 3px;
  left: 5px;
  top: 5px;
}
.navbar-nav .notification i {
  font-size: 36px;
}

.navbar-nav .nav-item.active .nav-link i {
  color: #20ccbf;
}
.navbar-nav .nav-item.active .nav-link span {
  color: white;
}
.btn-success {
  background: rgb(53, 207, 120);
}
